.header__logo {
  background: url(../../../images/Vector.svg);
  width: 142px;
  height: 33px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 900px){
  .header__logo {
    margin-left: 30px;
  }
}
@media screen and (max-width: 680px){
  .header__logo {
    width: 104px;
    height: 25px;
  }
}