.login__input {
  padding: 0;
  outline: none;
  border:none;
  box-shadow: none;
  width: 100%;
  border-bottom: 2px solid #FFF;
  min-height: 27px;
  background-color: #000;
  color: #FFF;
  box-sizing: border-box;
  margin-bottom: 30px;
  /* Cтили текста */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.login__input::placeholder {
  color: #A9A9A9;
}

.login__input:last-of-type {
  margin-bottom: 0;
}