.header__link {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  text-decoration: none;
  transition: opacity .2s linear;
}

.header__link:hover {
  opacity: .8;
}

@media screen and (max-width: 600px){
  .header__link {
    display: none;
    font-size: 14px;
    line-height: 17px;
    margin: 10px 0 10px;
    text-align: end;
  }
}