.header__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border-top: 1px solid rgba(84,84,84,.7); */
  border-bottom: 1px solid rgba(84,84,84,.7);
  min-height: 74px;
}